[Unit]
Description=uptime-server 
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/app/dash/
ExecStart=/usr/bin/gunicorn app:app -b 127.0.0.1:3000
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target